@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');

h1, span{font-size: 3.5em;}
h2{font-size: 2.7em;}
h3{font-size: 2em;}
p{font-size: 1.25em}

img{
  max-width: 100%;
  height: auto;
}

body{
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

  header{
    background-color: rgb(13, 38, 63);
    height: 100vh;
  }

  .buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 222px;
  }

  .navbar{
    display: flex;
    justify-content: flex-end;
    margin-right: 20px;

  }

  .navbar a{
    margin: 40px;
    color: white;
    text-decoration: none;
    font-size: 1.5em;
    font-family: "Chakra Petch";
    transition: all .4s ease-in-out;
  }

  .navbar a:hover{
    transform: scale(1.2);
    color: rgb(202, 235, 20);
  }

  .fa-twitter{
    margin-left: 50px;
    margin-right: 50px;
  }
  
  .buttons a {
    text-decoration: none;
    font-size: 28px;
    width: 60px;
    height: 60px;
    line-height: 60px;
    text-align: center;
    background: #f1f1f1;
    color: #314652;
    border-radius: 50%;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, .5);
    transition: all .4s ease-in-out;
  }
  
  .buttons a:hover {
    transform: scale(1.2);
  }

  .portfolio {
    padding: 30px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }
  
.spnoun{
    display: flex;
    flex-direction: column;
    text-align: left;
  }
.spnoun span{
    color: white;
    font-family: "Chakra Petch", sans-serif;
    font-size: 5em;
}

.abt-me{
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-left: 20px;
}




#mis-trabajos {
  display: flex;
  align-items: center;
  background-color: #06161f;
  color: white;
  text-align: center;
  flex-direction: column;
}


#mis-trabajos .mis-trabajos{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  padding: 50px 12px;
  margin: 30px;
  justify-content: space-around;
}

.trabajo-1{
    margin: auto;
    padding: 20px;
}

.trabajo-2{
    margin: auto;
    padding: 20px;
}

.trabajo-3{
    margin: auto;
    padding: 20px;
}

.mis-trabajos h1{
    text-align: center;
}

.mis-trabajos a {
    text-decoration: none;
    font-size: 28px;
    width: 60px;
    height: 60px;
    line-height: 60px;
    text-align: center;
    background: #f1f1f1;
    color: #314652;
    border-radius: 50%;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, .5);
    transition: all .4s ease-in-out;
  }
  
  .mis-trabajos a:hover {
    transform: scale(1.2);
  }